{% extends 'base.html' %}

{% block body %}
<div class="container d-flex align-items-center flex-column" style="padding-top:200px">
    <h1 class="text-uppercase mb-0">Data Hub</h1>
        <div class="divider-custom">
            <i class="fa-solid fa-minus"></i>
            <i class="fa-solid fa-minus"></i>
            <i class="fas fa-star"></i>
            <i class="fa-solid fa-minus"></i>
            <i class="fa-solid fa-minus"></i>
        </div>
    <p class="lead">Upload & Plot</p>
</div>
{% endblock %}
